---
layout: default
title: Projects
---
<div class="container-fluid">
	<div class="row">
		<!--Side navbar-->
		<div class="col-sm-12 col-md-3 col-lg-2">
			<div class="list-group sticky-top sticky-offset d-none d-md-block text-center" id="project-years" style="top: 71px !important; margin-bottom: 2em !important;">
				<a class="list-group-item list-group-item-action" href="#2019">2019</a>
				<a class="list-group-item list-group-item-action" href="#2018">2018</a>
				<a class="list-group-item list-group-item-action" href="#2017">2017</a>
				<a class="list-group-item list-group-item-action" href="#2016">2016</a>
				<a class="list-group-item list-group-item-action" href="#earlier">Earlier</a>
			</div>
			<div class="list-group d-md-none text-center" id="project-years" style="top: 71px !important; margin-bottom: 2em !important;">
				<a class="list-group-item list-group-item-action" href="#2019">2019</a>
				<a class="list-group-item list-group-item-action" href="#2018">2018</a>
				<a class="list-group-item list-group-item-action" href="#2017">2017</a>
				<a class="list-group-item list-group-item-action" href="#2016">2016</a>
				<a class="list-group-item list-group-item-action" href="#earlier">Earlier</a>
			</div>
		</div>
		
		<div class="d-md-none d-lg-block col-lg-1"></div>
		
		<!--Project cards-->
		<div class="col-sm-12 col-md-8 col-lg-8">
			<h4 id="2019" class="divider"><div class="divider-spacer"></div>2019</h4>
			<hr style="color: black; background-color: black;"/>

			{% for project in site.projects_2019 %}
				<div class="card project">
					<div class="card-header">
						{{ project.event }}

						{% if project.date != "" %}
							<span style="float: right;">{{ project.dateof }}</span>
						{% endif %}
					</div>
					<div class="card-body">
						{% if project.title != "" %}
							<h5 class="card-title">{{ project.title }}</h5>
						{% endif %}

						{% if project.collaborators != "" %}
							<h6 class="card-subtitle mb-2 text-muted">Collaborators: {{ project.collaborators }}</h6>
						{% endif %}

						{{ project.content | markdownify }}
					</div>
				</div>
			{% endfor %}

			<h4 id="2018" class="divider"><div class="divider-spacer"></div>2018</h4>
			<hr style="color: black; background-color: black;"/>

			{% for project in site.projects_2018 %}
				<div class="card project">
					<div class="card-header">
						{{ project.event }}

						{% if project.date != "" %}
							<span style="float: right;">{{ project.dateof }}</span>
						{% endif %}
					</div>
					<div class="card-body">
						{% if project.title != "" %}
							<h5 class="card-title">{{ project.title }}</h5>
						{% endif %}

						{% if project.collaborators != "" %}
							<h6 class="card-subtitle mb-2 text-muted">Collaborators: {{ project.collaborators }}</h6>
						{% endif %}

						{{ project.content | markdownify }}
					</div>
				</div>
			{% endfor %}

			<h4 id="2017" class="divider"><div class="divider-spacer"></div>2017</h4>
			<hr style="color: black; background-color: black;"/>

			{% for project in site.projects_2017 %}
				<div class="card project">
					<div class="card-header">
						{{ project.event }}

						{% if project.date != "" %}
							<span style="float: right;">{{ project.dateof }}</span>
						{% endif %}
					</div>
					<div class="card-body">
						{% if project.title != "" %}
							<h5 class="card-title">{{ project.title }}</h5>
						{% endif %}

						{% if project.collaborators != "" %}
							<h6 class="card-subtitle mb-2 text-muted">Collaborators: {{ project.collaborators }}</h6>
						{% endif %}

						{{ project.content | markdownify }}
					</div>
				</div>
			{% endfor %}

			<h4 id="2016" class="divider"><div class="divider-spacer"></div>2016</h4>
			<hr style="color: black; background-color: black;"/>

			{% for project in site.projects_2016 %}
				<div class="card project">
					<div class="card-header">
						{{ project.event }}

						{% if project.date != "" %}
							<span style="float: right;">{{ project.dateof }}</span>
						{% endif %}
					</div>
					<div class="card-body">
						{% if project.title != "" %}
							<h5 class="card-title">{{ project.title }}</h5>
						{% endif %}

						{% if project.collaborators != "" %}
							<h6 class="card-subtitle mb-2 text-muted">Collaborators: {{ project.collaborators }}</h6>
						{% endif %}

						{{ project.content | markdownify }}
					</div>
				</div>
			{% endfor %}

			<h4 id="earlier" class="divider"><div class="divider-spacer"></div>Earlier</h4>
			<hr style="color: black; background-color: black;"/>

			{% for project in site.projects_earlier %}
				<div class="card project">
					<div class="card-header">
						{{ project.event }}

						{% if project.date != "" %}
							<span style="float: right;">{{ project.dateof }}</span>
						{% endif %}
					</div>
					<div class="card-body">
						{% if project.title != "" %}
							<h5 class="card-title">{{ project.title }}</h5>
						{% endif %}

						{% if project.collaborators != "" %}
							<h6 class="card-subtitle mb-2 text-muted">Collaborators: {{ project.collaborators }}</h6>
						{% endif %}

						{{ project.content | markdownify }}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>

<script>
	var offset = document.getElementById("header").offsetHeight;
	var all = document.getElementsByClassName("divider-spacer");
	console.log(offset);
	for(var i = 0; i < all.length; i++)
	{
		all[i].style.marginTop = -1 * offset + "px";
		all[i].style.height = offset + "px";
		console.log(all[i].style.marginTop);
	}
</script>