<footer class="page-footer font-small bg-danger" style="border-top: 1px; margin-top: 2em; color: #FFFFFF;">
	<div class="text-center pt-3">
		<a href="https://www.linkedin.com/in/jacob-hoylman-125ab816a/"><img src="assets/images/linkedin.svg" class="inverted-image" style="width: 2.5em; height: 2.5em;"/></a>
		<span style="padding-left: 3ex; padding-right: 3ex;"></span>
		<a href="https://github.com/jkhoylman"><img src="assets/images/github-square.svg" class="inverted-image" style="width: 2.5em; height: 2.5em;"/></a>
	</div>
	<div class="footer-copyright text-center py-3">© 2019-2020 Jacob Hoylman</div>
</footer>