{% assign iconIndex = 0 %}

<div class="page-header container">
    <div class="title-container"></div>
    <div class="icon-container">
        <a href="https://www.linkedin.com/in/jacob-hoylman-125ab816a/">
            <img src="assets/images/linkedin.svg" class="inverted-image" style="width: 2.5em; height: 2.5em;"/>
        </a>
		<a href="https://github.com/jkhoylman">
            <img src="assets/images/github-square.svg" class="inverted-image" style="width: 2.5em; height: 2.5em;"/>
        </a>
    </div>
</div>
