$danger-red: #dc3545;

#main {
	min-height: calc(100vh - 225px) !important;
	margin-top: 1em !important;
}

.project {
	margin-bottom: 2em !important;
}

.course {
	margin-bottom: 2em !important;
}

.job {
	margin-bottom: 2em !important;
}

.inverted-image {
	-webkit-filter: invert(100%) !important;
    filter: invert(100%) !important;
}

.sticky-offset {
	top: 80px !important;
}


.red-border {
	border-color: $danger-red !important;
}

.nav-link {
	color: rgba(255, 255, 255, 1.0) !important;
	&:hover {
		color: rgba(255, 255, 255, 0.5) !important;
	}
}

.navbar-brand {
	opacity: 1.0 !important;
	&:hover {
		opacity: 0.5 !important;
	}
}