@import 'theme';

.header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title-container {
        text-align: center;
        .title {

        }
        .subtitle {

        }
    }

    .icon-container {
        display: flex;
    }

    .divider {
        border: 1px solid $theme-primary;
        width: 90%;
    }
}