@import 'theme';

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;

    .title-container {
        text-align: center;
        .title {

        }
        .subtitle {

        }
    }

    .icon-container {
        display: flex;

        .header-icon {
            display: initial;
    
            width: 3em;
    
            margin-left: 0.25em;
            margin-right: 0.25em;

            cursor: pointer;
            &.active {
                cursor: alias;
            }
        }

        .icon-fill {
            path {
                fill: $theme-primary;
            }
            &:hover path {
                fill: $theme-hover;
            }
            &.active path {
                fill: $theme-active;
            }
        }
    
        .icon-stroke {
            path {
                stroke: $theme-primary;
            }
            &:hover path {
                stroke: $theme-hover;
            }
            &.active path {
                stroke: $theme-active;
            }
        }
    }

    .divider {
        border: 1px solid $theme-primary;
        width: 90%;
    }
}