<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="/assets/css/site.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Use the following instead to disable zooming
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		-->
		{% seo %}
	</head>
	<body>
		{% include header.html %}
		
		<div id="main" data-spy="scroll" data-target="#project-years" data-offset="216" style="position: relative;">
			{{ content }}
		</div>
		
		{% include footer.html %}
	</body>
</html>